.m-login.m-login--5.m-login--signin .m-login__forget-password{display:block;}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon{color:#ccc;}
.m-portlet .m-portlet__body{color:#404040;}
html, body{font-weight:400;}
.table th {font-weight:600;}
.m-badge.m-badge--wide{padding:0px 10px;}
@media (min-width: 1025px) {
	.m-header-menu .m-menu__nav>.m-menu__item {padding:0 10px;}
}
.report-list{margin:0;padding:0;list-style-type:none;}
.report-list li{padding:10px 0;margin:0;border-top:1px dotted #ccc;}
.report-list li:first-child{border-top:0px;}
.report-list li span{font-size:16px;line-height:30px;}
.m-table tr.m-table__row--secondary th, .m-table tr.m-table__row--secondary td{background:#f1f1f1;font-weight:bold;}
.m-table tr.m-table__row--success th, .m-table tr.m-table__row--success td{border-top:1px solid #f4f5f8;border-bottom:1px solid #f4f5f8;}
.m-table tr.m-table__row--brand th, .m-table tr.m-table__row--brand td{border-top:1px solid #f4f5f8;border-bottom:1px solid #f4f5f8;}
.m-table.m-table--head-bg-brand thead th{border-top:1px solid #f4f5f8;border-bottom:1px solid #f4f5f8;}

@media (min-width: 1025px) {
.m-header-menu .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav>.m-menu__item>.m-menu__link {padding:5px 30px;}
.m-header-menu .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav>.m-menu__item>.m-menu__link .m-menu__link-text {font-size:12px;}
.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav {max-height:500px;overflow-y:auto;}
.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav::-webkit-scrollbar {width:6px;background-color: #F5F5F5;}
.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav::-webkit-scrollbar-thumb {background-color: #ccc;}
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {color: #fff;}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-text{color:#ccc;}

@media (max-width: 1024px) {
.m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-text{color:#ccc;}
.m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-icon, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {color:#fff;}
}

.form-group.required .control-label:after {
    content:" *";
    /*color:red;*/
}

form label.required:after {
    content:" *";
    /*color:red;*/
}
