.m-widget24 .m-widget24__item .m-widget24__stats{
    margin-top: 2.4rem;

}
.m-portlet.m-portlet--creative .m-portlet__head{
	height:auto;
}
.m-widget6{
	padding: 2.2rem;
}
.quiz label{
	text-align: left;
}
.questions .btn-lg, .btn-group-lg>.btn{
	padding: .85rem 1.15rem;
}
.quiz label input[type="radio"]{
	padding-left:30px;
}
.question{
	display: none; 
}
.question.question_0  { 
    display: block; 
}
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seats {
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; */
}

.seat {
  
  width: 60px;
  margin: 0 0 10px 10px;
  display: inline-block;
}

.seat input[type=radio] {
  position: absolute;
  opacity: 0;
}
.seat input[type=radio] + label {
  background: #fff;
  color: #444;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type=radio]:checked + label {
  background: #15b106;
  color: #fff;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type=radio]:disabled + label {
  background: #dddddd;
  /* text-indent: -9999px; */
  overflow: hidden;
}
label.selected{
	background: #34bfa3 !important;
}
/* .seat input[type=radio]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
} */
.seat input[type=radio  ]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}
.seat label,  .seat-btn{
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 15px 10px;
  background: #ddd;
  margin-bottom: none;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
  -webkit-box-shadow: 0px 2px 5px -3px rgba(56,59,136,1);
  -moz-box-shadow: 0px 2px 5px -3px rgba(56,59,136,1);
  box-shadow: 0px 2px 5px -3px rgba(56,59,136,1);
  border:1px solid #ddd;
}
.seat-btn {width:auto; padding:15px 20px; display: inline-block; margin-right: 10px; float: right;}
.seat-btn.selected{
  background: #15b106;
  color:#fff;
}
.seat-btn.price{
  background: #fff;
}
/* .seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
} */
.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5C6AFF;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.m-btn--pill.width-200{
  min-width:auto;
}
@media (min-width:576px) {
	.pull-right-sm {
	  float: right;
  }
}
@media (min-width: 768px) {
	.pull-right-md {
	  float: right;
  }
  .m-btn--pill.width-200{
		min-width:200px;
	}
}
@media (min-width: 992px) {
	.pull-right-lg {
	  float: right;
  }
}
@media (min-width: 1200px) {
	.pull-right-xl {
	  float: right;
  }
}