.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon .m-nav__link-icon-wrapper{
    width: 3rem;
}
.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-number>span{
    width: 2rem;
    height: 2rem;
}
.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-number>span>span{
    font-size: 1rem;
}
/* .m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info .m-wizard__step-number>span{
    background-color: #ed1b23;
}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__progress .progress .progress-bar{
    background-color: #ed1b23;
}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__progress .progress .progress-bar:after {
    background-color: #ed1b23;
} */
.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-line>span{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 1rem;
}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info .m-wizard__step-number>span{
    background-color: #34bfa3;
}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.wizard_step_done .m-wizard__step-info .m-wizard__step-number>span{
    background-color: #34bfa3;
}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.wizard_step_done .m-wizard__step-info .m-wizard__step-number:hover>span{
    background-color: #34bfa3;
}
.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info .m-wizard__step-label{color: #34bfa3;}
.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__steps .m-wizard__step.wizard_step_done .m-wizard__step-info .m-wizard__step-label{color: #34bfa3;}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.wizard_step_next .m-wizard__step-info .m-wizard__step-number>span{
    background-color: #ffc107;
}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.wizard_step_next .m-wizard__step-info .m-wizard__step-number:hover>span{
    background-color: #ffc107;
}
.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__steps .m-wizard__step.wizard_step_next .m-wizard__step-info .m-wizard__step-label{color: #ffc107;}

.m-wizard.m-wizard--1 .m-wizard__head{
    margin: 1.2rem 0 1rem 0;
}
.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps{
    margin-top: 1rem;
}

.m-widget28 .m-widget28__container .m-widget28__nav-items{
    border-spacing: .5rem;
}
.m-widget28 .m-widget28__pic{
    min-height: 200px;
    background: #000e38;
}
.m-widget28 .m-widget28__container .m-widget28__nav-items .m-widget28__nav-item>a.active{
    background: #c50108;
}
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show>.btn-outline-danger.dropdown-toggle{
    background: #c50108;
}
.btn-danger:hover{
    background: #c50108;
}
.m-widget28 .m-widget28__container .m-widget28__tab .m-widget28__tab-container .m-widget28__tab-items .m-widget28__tab-item>span:last-child .btn{
    float: right;
}
.m-widget12 .m-widget12__item .m-widget12__text1>span,.m-widget12 .m-widget12__item .m-widget12__text2>span{
    font-size: 1.05rem;
}
.m-widget12 .m-widget12__item {
    margin-bottom: 1rem;
}
.m-portlet .m-portlet__head{
    padding: 0 1.2rem;
}
.bg-pu-blue{
    background-color: #342994;
    color:#fff;
}
.m--font-brand{
    color: #342994 !important;
}
.btn.btn-default:hover, .btn.btn-secondary:hover{
    background-color: #342994!important;
}
.m-portlet.m-portlet--bordered-semi .m-portlet__head{
    border-bottom: 1px solid #ebedf2;
}
.m-portlet .m-portlet__head{
    height: 4.0rem;
}
.m-portlet .m-portlet__body {
    padding: 1.2rem 1.2rem;
}
.m-container--xxl{

}
.m-portlet__footer{
    border-top:1px solid #f3f3f3;
    padding: 0 1.5rem;   
}
.row#posts.posts {
    height: calc(100% - 2.2rem)!important;
    overflow: scroll !important;
    overflow-y: scroll!important;
    overflow-x: auto!important;
}

.row#posts::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
    background-color: #F5F5F5;
    border-radius: 10px;
    padding-right: 15px;
}

.row#posts::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 3.5px;
}

.row#posts::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.00);
    background-color: rgba(0, 0, 0, 0.1);
}


.row#posts.::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 5px solid rgba(0, 0, 0, 0.0);
    margin-right: 15px;
}
.main-div{
    /* max-height: 400px; */
    overflow-x: auto;
    /* overflow-y: scroll; */
    -webkit-box-shadow: 0px 1px 10px 1px rgba(206, 54, 54, 0.1);
    box-shadow: 0px 1px 10px 1px rgba(206, 54, 54, 0.1);
}
.main-div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.main-div::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 7px;
}

.main-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.00);
    background-color: rgba(0, 0, 0, 0.1);
}


.main-div.::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 5px solid rgba(0, 0, 0, 0.0);
    margin-right: 15px;
}
.row.gallery {
    display: flex;
    flex-wrap: wrap;
}
.row.gallery > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.m-nav .m-nav__item>.m-nav__link .m-nav__link-icon{
    width: 35px;
}
.col-form-container{
    padding-top: .85rem;
    padding-bottom: calc(.85rem + 1px);
}
.col-form-container p{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0px;
}
span.icon:nth-child(1){
 margin-left: 10px;
}
span.icon:nth-child(2){
    margin-left: 3px;
    margin-right: 10px;
}
span.icon_campus_visit{    
    margin-right: 10px;
    margin-left: 0px;
}
.to-do .m-widget4 .m-widget4__item .m-widget4__info{
    padding-left:0;
}
.comment.m-timeline-3 .m-timeline-3__item:before{
    width: 1rem;
    height: 1rem;
    left: .5rem;
}
.comment.m-timeline-3 .m-timeline-3__item .m-timeline-3__item-desc{
    padding-left: 2.5rem;
}
.comment.m-timeline-3 .m-timeline-3__item .m-timeline-3__item-time{
    display: table-cell;
    vertical-align: top;
    padding-top: 0;
    font-weight: 500;
    /* font-size: initial; */
    font-size: 0.8rem;
    position: absolute;
    text-align: center;
    width: 4.5rem;
    color: #fff;
}
.comment-ticket{
    font-size: inherit;
}
@media (min-width: 1400px){
    .m-container.m-container--responsive.m-container--xxl {
        width: 1340px;
    }
    .m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__userpic img {
        max-width: 31px !important;
    }
}
@media (min-width: 1600px){
    .m-container.m-container--responsive.m-container--xxl {
        width: 1540px;
    }
}
@media (min-width: 1900px){
    .m-container.m-container--responsive.m-container--xxl {
        width: 1840px;
    }
}
@media (max-width: 1200px){
    .m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step {
        display: table-cell;
        width: auto;
    }
}
@media (min-width: 1025px){
    .m-portlet.m-portlet--full-height .m-portlet__body {
        height: calc(100% - 1.2rem - 1.2rem);
    }
}
@media (max-width: 768px){
    .m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step {
        display: block;
        width: auto;
    }
}